<ion-header>
    <ion-toolbar>
        <ion-title>Groups</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="addGroup()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Add
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="hello" *ngIf="coach">
        Hello, coach <b>{{ coach.name }}</b>
    </div>

    <div *ngIf="isLoading" class="center">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!isLoading && error" class="error">
        {{ error }}
    </div>

    <ion-list *ngIf="!isLoading && !error">
        <ion-item *ngFor="let g of groups">
            <ion-label>{{ g.name }}</ion-label>

            <ion-button fill="clear" color="danger" slot="end" (click)="openDelete(g)">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-item *ngIf="groups.length === 0">
            <ion-label>No groups yet. Tap “Add”.</ion-label>
        </ion-item>
    </ion-list>

    <ion-action-sheet [isOpen]="isDeleteOpen" header="Actions" [buttons]="deleteButtons"
        (didDismiss)="isDeleteOpen = false"></ion-action-sheet>
</ion-content>