<ion-header>
  <ion-toolbar>
    <ion-title>Groups</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="addGroup()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="page">
    <ion-list *ngIf="groups.length > 0">
      <ion-item button *ngFor="let g of groups" (click)="openGroup(g.id)">
        <ion-label>
          <h2>{{ g.name }}</h2>
          <p>{{ g.playersCount ?? 0 }} players</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <div class="empty" *ngIf="groups.length === 0">
      <p>No groups yet. Create your first group with the <b>Add</b> button.</p>
    </div>
  </div>
</ion-content>