# OS
.DS_Store

# .NET / Visual Studio / Rider
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

# Logs
*.log

# Secrets
appsettings.*.json
!appsettings.json

# EF / temp
*.db
*.db-shm
*.db-wal

# Node / Angular
node_modules/
dist/
.angular/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/

# Docker
*.pid